/* Layout */
html {
    background: #A7A7A7;
}
body {
    width: 90%;
    min-width: 570px;
    max-width: 1200px;
    margin: 1em auto;
    padding: 110px 50px 40px 50px;
    box-shadow: 0 0 8px 1px #535353;
    position: relative;
    text-align: justify;
    hyphens: auto;
}
body > p,
body > form,
body > ul,
body > span {
    max-width: 600px !important;
}

/* Table */
table {
    background-color: #FFFFFF;
    border-width: 1px;
    border-color: #7EA8F8;
    border-style: solid;
    color: #000000;
}
td, th {
    border-width: 1px;
    border-color: #7EA8F8;
    border-style: solid;
    padding: 5px;
}
thead {
    background-color: #DEE9FD;
}
tr:hover > td:not([rowspan]) {
    background-color: aliceblue;
}
td[rowspan] {
    writing-mode: sideways-lr;
    text-align: center;
}
tr.separator {
    height: 10px;
}

/* Simple tabs for the form (based on https://codepen.io/mikestreety/pen/yVNNNm) */
.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tabs > label {
    order: 1;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    width: 50%;
    text-align: center;
    cursor: pointer;
    color: #a2a2a2;
    background-color: #fbfbfb;
    transition: background ease 0.2s;
    border-radius: 10px 10px 0 0;
}
.tabs > label:hover {
    color: black;
}
.tabs > .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 10px;
    background: #eee;
}
.tabs > input[type="radio"] {
    display: none;
}
.tabs > input[type="radio"]:checked + label {
    background: #eee;
    color: black;
    font-weight: bold;
    cursor: initial;
}
.tabs > input[type="radio"]:checked + label + .tab {
    display: block;
}
@media (max-width: 45em) {
    .tabs .tab,
    .tabs label {
        order: initial;
    }
    .tabs label {
        width: 100%;
        margin-right: 0;
    }
}
textarea {
    width: 100%;
    max-width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type="number"] {
    width: 3em;
}
form {
    margin-bottom: 1rem;
}

/* Detail sections */
details[open] {
    margin-bottom: 1rem;
}
summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

/* General */
.error {
    color: red;
}
.warning {
    color: orange;
}
#stats {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 1rem;
}
#stats > div {
    min-width: 300px;
    max-width: 600px;
    height: 500px;
    flex-grow: 1;
}
span.tooltip_heading {
    font-size: 1.1rem;
}
#pointer {
    cursor: move;
}
form > svg {
    display: block;
    max-width: 350px;
    margin: 0 auto 1rem auto;
}
input.alphas {
    display: none;
}
