<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Group Allocation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='highcharts.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tippy.min.js') }}"></script>
</head>
<body>
    <h1>Group Allocation</h1>
    <h2>Data Input</h2>
    <form action="/" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {{ form.n_groups.label }}: {{ form.n_groups() }}
        {% for error in form.n_groups.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
        <br />

        <div class="tabs">
            {{ (form.selection_type|list)[0] }}
            {{ (form.selection_type|list)[0].label }}
            <div class="tab">
                <p>Please enter the names of the students (one per line).</p>
                {{ form.users.label(title=form.users.description) }}: {{ form.users(title=form.users.description) }}
                {% for error in form.users.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
                <br />
            </div>

            {{ (form.selection_type|list)[1] }}
            {{ (form.selection_type|list)[1].label }}
            <div class="tab">
                <p>Please upload a valid CSV file according to the following specification:</p>
                <ul>
                    <li>Comma (<code>,</code>) as separator.</li>
                    <li>First row must be a header row.</li>
                    <li>Optionally, one column can be <q>Foreigner</q> with either <code>true</code> or <code>false</code> values. This is interpreted by the system and it tries to find a solution which equally distributes foreigners and non-foreigners over the days.</li>
                </ul>
                {{ form.file.label(title=form.file.description) }}: {{ form.file() }}
                {% for error in form.file.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
                <br />
            </div>
        </div>

        {{ form.submit() }}
    </form>

    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}

    {% if stats is defined %}
    <h2>Result</h2>
    {% macro table_day(data) %}
    <table>
        <thead>
            <tr>
                <th>Group</th>
                {% for column in table.columns %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for group_data in data %}
                {% for row in group_data.members %}
                <tr>
                    {% if loop.index0 == 0 %}
                    <td rowspan="{{ group_data.members|length }}" data-tippy-content="<span class='tooltip_heading'>{{ group_data.name }}</span>{% if 'foreigners' in group_data %}<br />{{ group_data['non-foreigners'] }} non-foreigners<br>{{ group_data['foreigners'] }} foreigners{% endif %}" >{{ group_data.name }}<br />({{ group_data.members|length }} members)</td>
                    {% endif %}
                    {% for value in row %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}

                {% if loop.index != data|length %}
                <tr class="separator"></tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endmacro %}

    <ul>
        <li>
            {{ stats.members.names|length }} students in total
            {% if 'n_foreigners' in stats %}
            <ul>
                <li>{{stats['n_non-foreigners']}} non-foreigners</li>
                <li>{{stats['n_foreigners']}} foreigners</li>
            </ul>
            {% endif %}
        </li>
        <li>Error: {{stats.error}} (the lower the better the allocation). Please note that an error of 0 is not possible in general.</li>
    </ul>
    <div id="member_stats"></div>
    <script>
        var member_stats = {{ stats.members|safe }};
        var colors = {};
        for (let i = 0; i < member_stats.names.length; ++i) {
            {% if 'n_foreigners' in stats %}
            if (member_stats.foreigners[i] === 0) {
                colors[member_stats.names[i]] = Highcharts.defaultOptions.colors[0];
            }
            else {
                colors[member_stats.names[i]] = Highcharts.defaultOptions.colors[1];
            }
            {% else %}
            colors[member_stats.names[i]] = '#666666';
            {% endif %}
        }

        Highcharts.chart('member_stats', {
            chart: {
                type: 'bar'
            },
            title: {
                text: `How many students does each participant meet? (${member_stats['meets_others_mean']} on average)`
            },
            xAxis: {
                categories: member_stats['names'],
                labels: {
                    formatter () {
                        return `<span style="color: ${colors[this.value]}">${this.value}</span>`
                    }
                }
            },
            yAxis: {
                min: 0,
                allowDecimals: false,
                title: {
                    text: 'Number of students'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [
                {% if 'n_foreigners' in stats %}
                {
                    name: 'Non-Foreigners',
                    data: member_stats['meets_non-foreigners']
                },
                {
                    name: 'Foreigners',
                    data: member_stats['meets_foreigners']
                }
                {% else %}
                {
                    showInLegend: false,
                    data: member_stats['meets_others']
                }
                {% endif %}
            ]
        });
    </script>

    {% for data_day in table.days %}
        <details {{ 'open' if loop.index0 == 0 }}>
            <summary>Day {{ loop.index }}</summary>
            {{ table_day(data_day) }}
        </details>
    {% endfor %}

    <script>
        tippy('td[rowspan]', {
            interactive: true
        });
    </script>
    {% endif %}
</body>
</html>
